<div class="ceplan-gobpe" role="img" aria-label="Gobierno del Perú — Presidencia del Consejo de Ministros — Centro Nacional de Planeamiento Estratégico">
    <img class="ceplan-gobpe__escudo" src="~/img/logo-peru.png" alt="" width="40" height="40" />
    <span class="ceplan-gobpe__peru">PERÚ</span>
    <span class="ceplan-gobpe__org">Presidencia<br />del Consejo de Ministros</span>
    <span class="ceplan-gobpe__org">Centro Nacional<br />de Planeamiento Estratégico</span>
</div>
